/* back-to-top design tokens */
:root {
  --back-to-top-width: 48px;
  --back-to-top-height: 48px;
  --back-to-top-desktop-width: 56px;
  --back-to-top-desktop-height: 69px;
  --back-to-top-offset-right: 10px;
  --back-to-top-desktop-offset-right: 40px;
  --back-to-top-bottom: 151px;
  --back-to-top-desktop-bottom: 140px;
  --back-to-top-z-index: 100;
  --back-to-top-shadow: 0 2px 3px rgb(0 0 0 / 40%);
}
